# IDE files
.vscode
.idea
.DS_Store

#py files
__pycache__
*.egg-info/

# keys and configs
credentials.json
token.json
local.db

# special directories
node_modules/
resources/
orig/
cropped/
venv/
tmpimages/
